* {
    margin: 0;
    padding: 0;
}

body {

    width: 100%;
    background-color: hsl(30, 54%, 90%);
    box-sizing: border-box;
    padding: 20px 10px;
    font-family: sans-serif;
}

.main-container {
    max-width: 800px;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 10px;
    margin: auto;
}

.main-container>div, .main-container>div>div {
    max-width: 750px;
    margin: auto;
}

.bg-img {
    max-width: 100%;
}

h1{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 10px;
}
p{
font-size: 16px;
font-weight: 400;
padding-bottom: 10px;
}

.preparation{
    margin: 10px;
    padding: 10px;
    background-color:hsl(330, 100%, 98%);
    border-radius: 10px;
}

.preparation>h2{
    color: hsl(332, 51%, 32%) !important;
}

.preparation>ul{
    box-sizing: border-box;
    margin: 10px;
}


.ingredient{
    padding: 10px 15px;
}

.instruction{
    padding: 10px 15px;
}
li{
    font-size: 16px;
    padding-bottom: 5px;
}

h2{
    color: hsl(14, 45%, 36%);
    font-size: 30px;
    padding: 10px 0px;
}

span{
    font-weight: bold;
}

table{
    width: 100%;
    padding: 0px 10px;
}

.value{
    text-align: right;
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}